<! DOCTYPE html>
<head>
    <title>Face</title>

    <!--jquery-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js" type="text/javascript"></script>


    <!--bootstrap-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!--internals-->
    <script src="app.js" type="text/javascript"></script>
    <script src="facecontroller.js" text="text/javascript"></script>

    <!--third-party-->
    <script src="ng-s3upload.js"></script>


    <style type="text/css">
        html, body { background: #101010 }
        div.container {padding: 50px 50px 50px 50px;}

        img.fader {
            display: none;
            position: absolute;}

        img.fader.show {
            display: block;
            transition: opacity 3000ms ease;}

        img.fader.fadeOut {
            opacity: 0;}

    </style>

</head>

<body>
    <div id='content' ng-app='Face2014' ng-controller='FaceController'>
        <div class="container">
            <table>
                <tbody>
                <tr ng-repeat="row in data.rows">
                    <td bn-fade-helper ng-repeat="image in row.images">
                        <img class="primary" ng-src="{{image.url}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div s3-upload bucket="'face2014.nc'" ng-model="product.remote_product_file_url"
             s3-upload-options="{getOptionsUri: '/api/v1/signupload', folder: 'test_upload/'}">-->
    </div>
</body>

</html>
