<! DOCTYPE html>
<head>
    <title>Face 2014</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="facecontroller.js" text="text/javascript"></script>
</head>

<body>
    <div id='content' ng-app='Face2014' ng-controller='FaceController'>
        <div ng-repeat="row in data.rows">
            <div ng-repeat="image in row.images">
                <img src="{{image.url}}">
            </div>
        </div>
    </div>
</body>

</html>
