<! DOCTYPE html>
<head>
    <title>Face</title>

    <!--jquery-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js" type="text/javascript"></script>


    <!--bootstrap-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!--internals-->
    <script src="app.js" type="text/javascript"></script>
    <script src="facecontroller.js" text="text/javascript"></script>
    <script src="upload.js" text="text/javascript"></script>

    <!--third-party-->
    <script src="ext/jasny-bootstrap.min.js"></script>
    <script src="ext/ng-s3upload.js"></script>
    <script src="ext/jquery.Jcrop.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

    <!--internal CSS-->
    <link rel="stylesheet" type="text/css" href="app.css">

    <!-- third party CSS-->

    <link rel="stylesheet" type="text/css" href="ext/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="ext/jquery.Jcrop.css">
</head>

<body>
    <div id='content' ng-app='Face2014' ng-controller='FaceController'>
        <div class="container">
            <table>
                <tbody>
                <tr ng-repeat="row in data.rows">
                    <td bn-fade-helper ng-repeat="image in row.images">
                        <img class="primary" ng-src="{{image.url}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#uploadModal">ADD-Face </button>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="uploadModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add your face</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div style="max-width: 600px; max-height: 450px;">
                    <img id="uploadedImage" src="" style="max-width: 600px; max-height: 450px;">
                </div>
                </div>
                <div class="row">
                  <button class="btn btn-default" id="uploadFaceButton">Choose face</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>

</html>
